@* @{
    ViewData["Title"] = "Not Authorized";
}

<div class="gandalf">
    <div class="fireball"></div>
    <div class="skirt"></div>
    <div class="sleeves"></div>
    <div class="shoulders">
        <div class="hand left"></div>
        <div class="hand right"></div>
    </div>
    <div class="head">
        <div class="hair"></div>
        <div class="beard"></div>
    </div>
</div>
<div class="message">
    <h1>403 - You Shall Not Pass</h1>
    <p>Uh oh, Gandalf is blocking the way!<br />Maybe you have a typo in the url? Or you meant to go to a different location? Like...Hobbiton?</p>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/unauthorized_style.min.css" />
} *@

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Authorized - Supershop</title>
    <link rel="stylesheet" href="~/css/unauthorized_page.min.css" />
</head>
<body>
    <div class="gandalf">
        <a href="/">
            <div class="fireball"></div>
            <div class="skirt"></div>
            <div class="sleeves"></div>
            <div class="shoulders">
                <div class="hand left"></div>
                <div class="hand right"></div>
            </div>
            <div class="head">
                <div class="hair"></div>
                <div class="beard"></div>
            </div>
        </a>
        </div>
    <div class="message">
        <h1>403 - You Shall Not Pass</h1>
        <p>Uh oh, Gandalf is blocking the way!<br />Maybe you have a typo in the url? Or you meant to go to a different location? Like...Hobbiton?</p>
    </div>
</body>
</html>