@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    if (ViewBag.Error == null) ViewBag.Error = false;
}

<h2>Reset Password</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Token" />

            <div class="form-group mb-3">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Reset Password" class="btn btn-primary my-1" />
            </div>
        </form>
        <div class="@(ViewBag.Error ? "text-danger" : "text-success")">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}