@{
    ViewData["Title"] = "Not Found";
}
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>
<h1 class="error">Oops! Page Not Found!!!</h1>

@section Styles {
    <link rel="stylesheet" href="~/css/notfound_page.css" />
}
