@model Supershop.Data.Entities.City
@{
    ViewData["Title"] = "EditCity";
}

<h4>Edit City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-1"><i class="fa-solid fa-star"></i> Create</button>
                <a asp-action="Details" asp-route-id="@Model.CountryId" class="btn btn-success my-1"><i class="fa-solid fa-chevron-left"></i> Back to Country</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}